@media (width > 1023px) {
   .page {
      row-gap: 102px;
   }

   .header {
      min-block-size: 38vh;
   }

   .list {
      row-gap: 53px;
   }

   .label-img {
      right: 25px;
   }

   .button-form {
      margin-block-end: 24px;
   }

   li svg {
      transform: scale(1);
   }

   .margin-block-end {
      margin-block-end: 0;
   }

   .text__list-items {
      width: 100%;
      padding-inline: 24px;
      row-gap: 12px;
   }

   .adjusting-the-margin {
      margin-block-end: 3px;
   }

   .like-icon {
      transform: scale(1.3);
   }

   .card__like-button {
      /* margin-block-end: 15px; */
   }

   .dialog {
      width: 358px;
   }

   .form-dialog {
      inline-size: 293px;

   }

   .button__dialog {
      inline-size: 335px;
      block-size: 55px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-block-end: 103px;

   }

   .button__dialog svg {
      transform: scale(1);
      margin-block-start: 10px;
      margin-inline-start: 0;
   }

   /* ховер на мобильном */

   @media (hover: hover) {
      .button:hover::after  {
         transform: scaleX(1);
       }
   }

   @media (hover: none) {
      .button:active::after {
         transform: scaleX(1);
       }
   }
}